.owner-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    gap: 20px;
  }
  
  .left-panel, .right-panel {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .right-panel {
    height: 65vh;
    overflow: auto;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-container input[type="text"] {
    padding:8px 70px 8px 8px;
    width: calc(100% - 90px);
    margin-right: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  .search-container button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #0056b3;
  }
  
  .post-item {
    margin-bottom: 15px;
    padding: 12px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .status-badge {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .post-actions button {
    margin: 5px 5px 5px 0;
    padding: 6px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .post-actions button:hover {
    background-color: #218838;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-group input, .form-group textarea, .form-group select {
    padding: 8px;
    margin: 4px 0;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-actions {
    display: flex;
    gap: 10px;
  }
  
  .form-actions button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .form-actions button:hover {
    background-color: #0056b3;
  }
  
  .form-actions button[type="button"] {
    background-color: #dc3545;
  }
  
  .form-actions button[type="button"]:hover {
    background-color: #c82333;
  }
  